/* Global Reset */
* {
  font-family: 'Allerta', arial, Tahoma;
  box-sizing: border-box;
}
body {
  background: linear-gradient(to left, #7700aa, #8800ff);
  text-align:center;
  color:#fff;
}
h3{
  text-shadow:1px 1px 1px #fff;
}
/* Start  styling the page */
.container-audio {
  width: 66%;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #eee;
  color: #444;
  margin: 20px auto;
  overflow: hidden;
}
audio {
width:100%;
}
audio:nth-child(2), audio:nth-child(4), audio:nth-child(6) {
  margin: 0;
}
.container-audio .colum1 {
  width: 23px;
  height: 5em;
  border-radius: 5px;
  margin: 0 10px 0 0;
  display: inline-block;
  position: relative;
}
.container-audio .colum1:last-child {
  margin: 0;
}
.container-audio .colum1 .row {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to up, #7700aa, #8800ff);
  position: absolute;
  -webkit-animation: Rofa 10s infinite ease-in-out;
  animation: Rofa 10s infinite ease-in-out;
  bottom: 0;
}
.hyperaudio-transcript .active{
  background-color: #efefef;
}

.hyperaudio-transcript .active > .active {
  background-color: #ccf;
  text-decoration:  rgb(0, 221, 255);
  text-decoration-thickness: 3px;
  font-size: xx-large;    
}